.app-feed {
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        button {
            &:first-child {
                width: 38px;
                height: 38px;
            }
        }
    }

    &__feed {
        margin: 0 auto;
        width: 610px;
    }
}