.ak-feed {
    padding: 15px;
    width: 610px;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    color: #7A7E83;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #D5DEE8;

    &__content {
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: space-between;
        display: flex;

        &__time {
            color: #C4C4C4;
            font-size: 12px;
        }
    }

    &__image {
        width: 550px;
        margin: 0 auto;
        padding: 10px 0;
    }

    &__tag {
        color: #597CA4;
        padding: 5px 0;
        display: inline-block;
        span {
            background-color: #D6DEE6;
            padding: 5px 15px;
            margin-right: 5px;
            border-radius: 5px;
            font-size: 11px;
        }
    }

    &__actions {
        display: inline-block;
        color: #597CA4;
        float: right;
        padding-top: 10px;
        a {
            margin-left: 30px;
            margin-right: 5px;
            color: #597CA4;
        }
    }
}