<div class="ak-feed">
    <div class="ak-feed__content">
        <span> 
            Hook what matters to you
        </span>
    </div>

    <div class="ak-feed__image">
        <img src="https://www.w3schools.com/css/paris.jpg">
    </div>

    <div class="ak-feed__info">
        <div class="ak-feed__info__tag">
            <span>AAA</span>
            <span>BBBB</span>
        </div>

        <div class="ak-feed__info__time"> 05:03 AM - Sep 10, 2017</div>

        <div class="ak-feed__info__actions">
            <a>+ </a>
            <a>- </a>
        </div>
    </div>
</div>